<!doctype html>
<html>
<head>
    <title>Job Board</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>jobs</h1>
</header>

<section class="jobs">
  <ul class="details">
  </ul>
</section>

<p>Sign up / Login, to apply or create job postings</p>

<section class="signlog">
  <a href="/login" class="loginBut">LOGIN</a>
  <a href="/signup" class="signBut">SIGNUP</a>
</section>

<script src="main.js"></script>

</body>
</html>
