<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>JOBS</h1>
    </header>

    <section class="myLinks">
      <a href="/myposts" class="link">My Posts</a>
      <a href="/createpost" class="link">Create Post</a>
    </section>

    <script type="text/javascript" src="main.js">
    </script>
  </body>
</html>
